Q_TEMP='{question}{options}'
# or you may use this as template for format prompting (e.g., for verl formats)
# $'' gets escape-sequence interpretation, otherwise '\n' becomes '\\n'
# Q_TEMP=$'{question}{options}\nPlease reason step by step, and put your final answer within \\boxed{{}}.'
